.container-fluid#lovely
    h5 You may like it
    .divider
    .row
        .col.s12.m6.main-like
            a(href="pages/category/index.html")
                .like.odd
                    .black-fon
                    img(
                        src='static/img/16.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                            style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like
            a(href="pages/category/index.html")
                .like.even
                    .black-fon
                    img(
                    src='static/img/17.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like
            a(href="pages/category/index.html")
                .like.odd
                    .black-fon
                    img(
                    src='static/img/18.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like
            a(href="pages/category/index.html")
                .like.even
                    .black-fon
                    img(
                    src='static/img/19.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like.toToggle
            a(href="pages/category/index.html")
                .like.odd
                    .black-fon
                    img(
                    src='static/img/20.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like.toToggle
            a(href="pages/category/index.html")
                .like.even
                    .black-fon
                    img(
                    src='static/img/21.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like.toToggle
            a(href="pages/category/index.html")
                .like.odd
                    .black-fon
                    img(
                    src='static/img/22.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        .col.s12.m6.main-like.toToggle
            a(href="pages/category/index.html")
                .like.even
                    .black-fon
                    img(
                    src='static/img/23.jpg'
                    )
                    .title-like
                        p 35 more
                        p(
                        style="color: white; z-index: 999"
                        ) ATicket recommend concert

        a.btn.viewMore.waves-light.waves-effect(

        ) View more