.container-fluid
    #myCarousel
        .carousel-item
            .in-slide
                img(
                     src="static/img/13.jpg"
                style="width: 400px; height: 240px"
                )
                .about
                    h6 18 April
                    h5 Imagine Dragons
                    p somewhere

                .price from 700$

                .next
                .prev


            .in-slide
                img(
                src="static/img/12.jpg"
                style="width: 400px; height: 240px"
                )
                .about
                    h6 18 April
                    h5 Title
                    p somewhere

                .price from 700$

                .next
                .prev

            .in-slide
                img(
                src="static/img/11.jpg"
                style="width: 400px; height: 240px"
                )
                .about
                    h6 18 April
                    h5 Title
                    p somewhere

                .price from 700$

                .next
                .prev


            .in-slide
                img(
                src="static/img/14.jpg"
                style="width: 400px; height: 240px"
                )
                .about
                    h6 18 April
                    h5 Title
                    p somewhere

                .price from 700$

                .next
                .prev

            .in-slide
                img(
                src="static/img/1.jpg"
                style="width: 400px; height: 240px"
                )
                .about
                    h6 18 April
                    h5 Title
                    p somewhere

                .price from 700$

                .next
                .prev

            .in-slide
                img(
                src="static/img/1.jpg"
                style="width: 400px; height: 240px"
                )
                .about
                    h6 18 April
                    h5 Title
                    p somewhere

                .price from 700$

                .next
                .prev