.container-fluid
    nav#nav.nav-main

        .nav-wrapper
            ul.hide-on-med-and-down.nav-ul
                li
                    a(
                        href="pages/category/categories.html"
                    ) Movie
                li
                    a(
                        href="pages/category/categories.html"
                    ) Concert
                li
                    a(
                        href="pages/category/categories.html"
                    ) Theatre
                li
                    a(
                        href="pages/category/categories.html"
                    ) Exhibition
                li
                    a(
                        href="pages/category/categories.html"
                    ) Child
                li
                    a(
                        href="pages/category/categories.html"
                    ) Sport
                li
                    a(
                        href="pages/category/categories.html"
                    ) Circus
                li
                    a.more(
                    href="#"
                    ) More
                    ul.dropdown
                        li
                            a(href="#") Show
                        li
                            a(href="#") Musical
                        li
                            a(href="#") Master-class
                        li
                            a(href="#") Lecture
                        li
                            a(href="#") Free
