.container-fluid#slide
    .items-carousel
        .item
            img(
                src="static/img/11.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title
                    p.grey-text somewhere
            .price
                label from 800$
        .item
            img(
                src="static/img/12.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title
                    p.grey-text somewhere
            .price
                label from 800$
        .item
            img(
            src="static/img/13.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title
                    p.grey-text somewhere
            .price
                label from 800$
        .item
            img(
            src="static/img/rayhon.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title sdf sd  sdgsd
                    p.grey-text somewhere sdgsdf vggsdf vsd f
            .price
                label from 800$
        .item
            img(
            src="static/img/14.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title
                    p.grey-text somewhere
            .price
                label from 800$
        .item
            img(
            src="static/img/11.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title
                    p.grey-text somewhere
            .price
                label from 800$
        .item
            img(
            src="static/img/3.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title
                    p.grey-text somewheresdf sdfgsdfgsd fgsdfgsdf gsdf gsdf gd sdgs dfgsd fg
            .price
                label from 800$
        .item
            img(
            src="static/img/15.jpg"
            )
            .row.data-item.sliderBack
                .col.s3.l3.date
                    p.pdate 18
                    p Fev
                .col.s9.l9.where
                    h5 Title sd sdfv sdfb fgb dfgb ghn fgnfg bfgdbfgnhfgngjmgj mgj
                    p.grey-text somewhere
            .price
                label from 800$
