footer
    .container-fluid#alonePage
        .footer-content
            .row
                .col.l3.m3.s12.foot-head-text
                    p.font-weight-bold Connect with us
                .col.l4.m6.s12
                    .email
                        input(
                        type="email"
                        required
                        )
                .col.l3.m3.s12.dale
                    label.btn Dalee

            .divider

            .row
                .col.l3.s6
                    .foot-content
                        p ATicket Afisha
                        a.text-darken-1.grey-text about us
                        a.text-darken-1.grey-text about us
                        a.text-darken-1.grey-text about us
                .col.l3.s6
                    .foot-content
                        p ATicket Afisha
                        a.text-darken-1.grey-text about us
                        a.text-darken-1.grey-text about us
                        a.text-darken-1.grey-text about us
                .col.l3.s6
                    .foot-content
                        a.foricon(
                        href="http://facebook.com/abaduzofficial/"
                        target="_blank"
                        )
                            i.fab.fa-facebook
                        a.foricon(
                        href="https://t.me/abad_shop"
                        target="_blank"
                        )
                            i.fab.fa-telegram
                        a.foricon(
                        href="https://t.me/abad_shop"
                        target="_blank"
                        )
                            i.fab.fa-instagram
                        p.text-lighten-1.grey-text our social site click to see
                .col.l3.s6
                    .foot-content
                        .playStore
                            a(
                                href="https://play.google.com/store/apps/details?id=uz.medialux.abad"
                                target="_blank"
                            )
                                img(src="../../static/img/playstore.png")

                        p.grey-text.lighten-1 download ATicket app


            .divider

            .row
                .col.l3.s6
                    p.grey-text.darken-1 mobile version coming soon
                .col.l3.s6.offset-l6
                    p.grey-text.darken-1 2018 Tashkent




