.container-fluid#alonePage
    .about-content
        .about-text
            h4 Title
            h4 When
            h4.darken-2.grey-text Where
            p premyera
        .row.about-btn
            .col.btns.s12.l6
                a(href="#table-page").waves-effect.btn Time
                a(href="#!").btn.save Save
                    i.far.fa-bookmark
            .col.icon-btn.l6.s12
                a.btn.icons.right
                    i.fab.fa-facebook
                a.btn.icons.right
                    i.fab.fa-telegram
                a.btn.icons.right
                    i.fab.fa-instagram

        .about-main
            .row#picture
                .picture.s12.l6
                    img(
                    src="../../static/img/4.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/1.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
                    img(
                    src="../../static/img/2.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/7.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
                    img(
                    src="../../static/img/4.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/1.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
                    img(
                    src="../../static/img/2.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/7.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
            .row#pictures
                .col.l6.s12.pictures.right
                    img(
                    src="../../static/img/4.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/1.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
                    img(
                    src="../../static/img/2.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/7.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
                    img(
                    src="../../static/img/4.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/1.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
                    img(
                    src="../../static/img/2.jpg"
                    )
                    img(
                    src="../../static/img/3.jpg"
                    )
                    img(
                    src="../../static/img/7.jpg"
                    )
                    img(
                    src="../../static/img/5.jpg"
                    )
            .row#youTube
                .col.l12.s12.center
                    iframe(style="height: 480px; width: 70%;" src="https://www.youtube.com/embed/tgbNymZ7vqY")

            .about-inner
                .divider

                .about-text2.s12.l6.m12
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem cupiditate eaque eum exercitationem harum incidunt iure laborum molestiae molestias necessitatibus nulla odit, officiis quaerat sapiente tempore totam unde.

                .rate
                    .rate-in
                    h4.rate-count 8.6

                .about-text3.row
                    p.p1.col.l3.s6.grey-text Premyera
                    p.p2.col.l3.s6 20 yanvar 2018
                .about-text3.row
                    p.p1.col.l3.s6.grey-text Director
                    p.p2.col.l3.s6 Mirzahakim Toxtamirza
                .about-text3.row
                    p.p1.col.l3.s6.grey-text Cast
                    p.p2.col.l3.s6 Angelina, Brett, Bruce Lee, Jackie, Panda, Micky, Droopy
                .about-text3.row
                    p.p1.col.l3.s6.grey-text Time
                    p.p2.col.l3.s6 20 yanvar 2018
                .about-text3.row
                    p.p1.col.l3.s6.grey-text Place
                    p.p2.col.l3.s6 USA
                .about-text3.row
                    p.p1.col.l3.s6.grey-text year
                    p.p2.col.l3.s6 2018
                .about-text3.row
                    p.p1.col.l3.s6.grey-text Orginal name
                    p.p2.col.l3.s6 20 yanvar 2018 df hdfghdfghd

