.container-fluid#alonePage.table-page

    .about-table#table-page
        h4.date Date

        .about-search
            .row
                .col.l6.s12.search1
                    input(type="search" name placeholder="search address")
                .col.l4.s4.filter-button.calendar
                    input.datepicker.top_left_corner(type='text' placeholder="choose date")

        .table-in
            table.highlight.bordered
                tbody
                    tr
                        td.table-name Where
                            i.far.fa-bookmark
                            p address
                        td.table-type type
                        td.table-when
                            a.waves-effect.waves-yellow.data.modal-trigger(
                                href="#hall-scheme"
                                data-tooltip="from 100$"
                                data-instance="4"
                                data-hall="istiklol"

                            ) 16:30
                            a.waves-effect.waves-yellow.data.modal-trigger(

                            href="#hall-scheme"
                            data-hall="cinema"
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(

                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(

                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                        .divider
                    tr
                        td.table-name Where
                            i.far.fa-bookmark
                            p address
                        td.table-type type
                        td.table-when
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                    tr
                        td.table-name Where
                            i.far.fa-bookmark
                        td.table-type type
                        td.table-when
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                    tr
                        td.table-name Where
                            i.far.fa-bookmark
                        td.table-type type
                        td.table-when
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                    tr
                        td.table-name Where
                            i.far.fa-bookmark
                        td.table-type type
                        td.table-when
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                    tr
                        td.table-name Where
                            i.far.fa-bookmark
                        td.table-type type
                        td.table-when
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30
                            a.waves-effect.waves-yellow.data(
                            data-tooltip="from 100$"
                            ) 16:30


        #viewMore
            a(
                href="#"
            ) View more



